
@{
    ViewBag.Title = "DummyApi";
}

<br/>
<br/>
<input type="text" id="fisrtNo" />&nbsp;<input type="text" id="secondNo" />
<button class="btn btn-primary" onclick="GetData()">Get Data</button>
<input type="text" id="txtResult" class="form-control"  />

<script>
    function GetData()
    {
        var FirstNumber, SecondNumber;
        FirstNumber = $("#fisrtNo").val();
        SecondNumber = $("#secondNo").val();


        var Datauser = '{"FirstNumber":"' + FirstNumber + '","SecondNumber":"' + SecondNumber + '"}';
        $.ajax({
            type: "POST",
            url: "/Home/ValidateMyData",
            data: Datauser,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
               // console.log("1");
                console.log(response);
                $("#txtResult").val(response);

            },
            failure: function (response) {
               // console.log("2");
                console.log(response);
            }

        });

    }
</script>

